upstream app {
{% for host in groups['nginx_app'] %}
server {{ host }}:80;
{% endfor %}
}


server {
        listen {{ ports }} default_server;
        listen [::]:{{ ports }} default_server;

        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;

        server_name {{ ansible_host }};

        location / {
                proxy_pass http://app;
                proxy_set_header Host bulutovstas-app.devops.rebrain.srwx.net;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Real-IP $remote_addr;
        }
}
